@import 'https://fonts.googleapis.com/css?family=Lato:400|Lora:400,700';

body {
  background-color: #fcfade;
  color: black;
  font-family: 'Lato', sans-serif;
}

@media screen {
  body {
    margin: 4em;
    max-width: 45em;
  }

  body > section > section.folded > h1 ~ * {
    display: none;
  }

  h1 {
    margin-top: 2em;
    border-bottom: 1px solid black;
  }
}

@media print {
  section#i-have-worked-at {
    page-break-before: always;
  }

  h1 {
    break-before: page;
  }

  body > section > section > section {
    break-inside: avoid;
  }

  h1 {
    margin-top: 0;
    border-bottom: 1px solid black;
  }
}

h1,
h2,
h3 {
  font-family: 'Lora', serif;
  color: black;
}

p {
  margin-left: 2em;
}

ul {
  margin-left: 1em;
}

blockquote {
  font-style: italic;
  font-size: 85%;
}

blockquote li {
  font-style: normal;
}

pre.line_block {
  margin: 0em;
  font-family: 'Lato', sans-serif;
}

div.summary {
  font-style: italic;
}

section#i-have-worked-at {
  clear: both;
}

body > section > section > h1:after {
  float: right;
}

body > section > section.open > h1:after {
  content: "\23f7";
}

body > section > section.folded > h1:after {
  content: "\23f6";
}

section > h1 {
  font-size: 2em;
}

section#roman-neuhauser > dl {
  border-right: 1px solid black;
  float: left;
  margin: 0 1em 4em 1em;
  padding: 0 1em 0 1em;
}
